
{% extends 'base.html' %}
{% load staticfiles %}
{% load mytags %}
{% block site_title %}{{ article.article_title }}| 人生苦短 17python {% endblock %}

{% block article %}
<article class="article-main">
      
      <h3 class="am-article-title blog-title">
        <a href="#">{{ article.article_title }}</a>
      </h3>
      <h4 class="am-article-meta blog-meta">by <a href="" class="am-text-warning">{{ article.article_user }}</a>
         / posted on<span class="am-text-success"> {{ article.article_create_time }} </span>
       / <a href="" class="am-text-secondary">{{ article.article_category }}</a>
      </h4>

      <div class="blog-content">
       {% autoescape off %}
        {{ article.article_content|toMarkdown }}
       {% endautoescape %}
    
    
      </div>
      <div class="am-panel am-panel-default blog-tag">
        <div class="am-panel-hd">相关标签</div>
        <div class="am-panel-bd">
         {% for tag in tags  %}
          <a href="" class="am-badge am-badge-primary">{{ tag }}</a>
        {% endfor %}
        </div>
        
        
      </div>
</article>

{% endblock %}




{% block me %} 
      <section class="am-panel am-panel-default">
        <div class="am-panel-hd">About Me</div>
        <div class="am-panel-bd">
          <div class="avatar">
            <img class="am-circle am-center" src="{% url 'media' userinfo.user_image %}" width="140" height="140"/>
          </div>
          <div class="am-text-center am-text-lg nick-name">{{ userinfo.user_nick_name }}</div>
          <div class="am-text-center am-text-xs ">{{ userinfo.user_detail }}</div>
        </div>
      </section>
{% endblock %}

{% block category %}
<section class="am-panel am-panel-default blog-cat">
        <div class="am-panel-hd">Category</div>
        <ul class="am-list am-list-border">
          {% for c in categorys %}
            
          <li><a href="#">
            <i class="{{ c.category_icon }}"></i>
            {{ c.category_name }}
          <!-- <span class="am-badge am-align-right">17</span> -->
          </a>
            
          </li>
            
          {% endfor %}
          

        </ul>
      </section>
{% endblock %}


{% block footer %} 
  {% autoescape off %}
    {{ siteinfo.site_footer }}
  {% endautoescape %}
    

{% endblock %}



