{% extends 'base.html' %}
{% load mytags %}
{% block site_title %} 人生苦短 17python {% endblock %}





{% block article %}
{% for article in contacts %}
<article class="blog-main">
      
      <h3 class="am-article-title blog-title">
        <a href="/blog/{{ article.id }}">{{ article.article_title }}</a>
      </h3>
      <h4 class="am-article-meta blog-meta">作者：<a href="" class="am-text-warning">{{ article.article_user.user_nick_name }}</a>
         / 发表：<span class="am-text-success"> {{ article.article_create_time }} </span>
       / <a href="{% url '' %}?c={{ article.article_category.id}}" class="am-text-secondary">{{ article.article_category }}</a>
      </h4>

      <div class="blog-content">
       {% autoescape off %}
        {{ article.article_synopsis|toMarkdown }}
       {% endautoescape %}
    
    
      </div>
 </article>
<a href="/blog/{{ article.id }}" class="am-text-warning">CONTINUE READING</a>
<hr class="am-article-divider blog-hr">
  
{% endfor %}




<!-- 翻页  -->
<div class="am-pagination am-pagination-centered">
    
        {% if contacts.has_previous %}
            <li class=""><a href="?{% if c != '' %}c={{ c }}&{% endif %}{% if s != '' %}s={{ s }}&{% endif %}p={{ contacts.previous_page_number }}">&laquo; 上一页</a></li>
        {% endif %}


        {% for p in contacts.paginator.page_range %}
       
           <li class="{% if p == page_number %}am-active{% endif %}"><a href="?{% if c != '' %}c={{ c }}&{% endif %}{% if s != '' %}s={{ s }}&{% endif %}p={{ p }}">{{ p }}</a></li>
        {% endfor %}

        {% if contacts.has_next %}
            <li class=""><a href="?{% if c != '' %}c={{ c }}&{% endif %}{% if s != '' %}s={{ s }}&{% endif %}p={{ contacts.next_page_number }}">下一页 &raquo;</a></li>
        {% endif %}
    
</div>

{% endblock %}





