/* body{font-family: 'country_gothic', Arial, Helvetica, Simsun, STHeiti;} */
@media only screen and (min-width: 1200px) {
      .blog-g-fixed {
        max-width: 1200px;
      }
    }

.blog-header {background-color: #333; border-color: #ccc;}

/* 首页导航下边距离  */
.am-topbar{ 
        margin-bottom: 0px; 
    }

/* top图下边距  */
.site-topimg{
        margin-bottom: 10px;
    }

.blog-main{
        width: 850px;
        margin: 0px;
        padding: 0px;
    }
.blog-content{
        width: 840px;
        padding: 0px;
        margin-right: 10px;
    }

.blog-sidebar{
        width: 350px;
        margin: 0px;
        padding: 0px;
    }

.blog-footer {
      padding: 10px 0;
      text-align: center;
      background: #333;
      color: #ccc;
    }
.footer-top{background-color: #f8f8f8;}
.site-links li,
.site-social li{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.blog-title {
      margin: 10px 0 20px 0;
    }
.blog-title a{
    font-size: 26px;
}
.blog-tag{
    width: 840px;
}


.nick-name{
      padding: 10px 0px;
}

.blog-hr{
    width: 840px;
}



/* 右边分类列表模块设置 */
.blog-cat{
    border: none;
}

.blog-cat .am-panel-hd{
    border: 1px solid #ddd;
    border-bottom: none;
}

/* 上一篇 下一篇 */
.blog-pn{
    width: 840px;
    height: auto;
    overflow: hidden;
}
.blog-pn .am-panel-bd{
    height: auto;
    overflow: hidden;

}


