<!DOCTYPE html>
<html>
    {% load staticfiles %}
  <head lang="en">
    <meta charset="UTF-8">
    <title>hi~! 404 没有找到你要的页面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
      <!-- amazeui -->
      <link href="{% static 'amazeui/assets/css/amazeui.min.css' %}" rel="stylesheet">
      <!-- <link th:href="/static/amazeui/assets/css/admin.css" rel="stylesheet"> -->
      <!-- 当前站点CSS样式文件 -->
      <link href="{% static 'app1.css' %}" rel="stylesheet">
  
      <!-- jQuery -->
      <script src="/static/amazeui/assets/js/jquery.min.js"></script>
      <!-- amazeui.js app.js -->
      <script src="/static/amazeui/assets/js/amazeui.min.js"></script>
      <script src="/static/app.js"></script>
  
  </head>

<body>
  <script type="text/javascript" src="//qzonestyle.gtimg.cn/qzone/hybrid/app/404/search_children.js" charset="utf-8"></script>

    </body>

</html>