<!DOCTYPE html>
<html>
  {% load staticfiles %}
<head lang="en">
  <meta charset="UTF-8">
  <title>{% block site_title %}blog{% endblock site_title %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- amazeui -->
    <link href="{% static 'amazeui/assets/css/amazeui.min.css' %}" rel="stylesheet">
    <!-- <link th:href="/static/amazeui/assets/css/admin.css" rel="stylesheet"> -->
    <!-- 当前站点CSS样式文件 -->
    <link href="{% static 'app.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="/static/amazeui/assets/js/jquery.min.js"></script>
    <!-- amazeui.js app.js -->
    <script src="/static/amazeui/assets/js/amazeui.min.js"></script>
    <script src="/static/app.js"></script>

</head>
<body>
  
<header class="am-topbar">
  <h1 class="am-topbar-brand">
    <a href="{% url '' %}">17python</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
      class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      {% block nav %}

      {% endblock nav %}
      
      <!-- <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          更多 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li class="am-dropdown-header">Title</li>
          <li><a href="#">About me</a></li>
        </ul>
      </li> -->
      
    </ul>
    <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" action="{% url '' %}">
      
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="Python Django" name="s">
      </div>
      <button type="submit" class="am-btn am-btn-warning am-btn-sm">
        <i class="am-icon-search"></i>
        </button>
    </form>

  </header>
</div>
 <div class="site-topimg am-g">
  <img src="{% static 'images/topbg.jpg' %}" class="am-img-responsive" alt=""/>
</div> 
<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-8">
    {% block article %} 
    
  {% endblock article %}
  
  </div>

  <div class="am-u-md-4 blog-sidebar">
    <div class="am-panel-group">


      {% block me %} 

      {% endblock me %}


{% block category %}

{% endblock %}
    </div>
  </div>

</div>

<div class="am-g footer-top">
    <div class="am-g">
        <div class="am-u-md-3">
            <h2 class="site-fd am-text-center"><a href="#" target="_blank" class="am-link-muted">Powered By</a></h2>
            <ul class="site-links">
              <li><a href="https://www.python.org/" target="_blank" class="am-link-muted">Python</a></li>
              <li><a href="https://www.djangoproject.com/download/" target="_blank" class="am-link-muted">Django</a></li>
              <li><a href="http://amazeui.org/" target="_blank" class="am-link-muted">Amaze UI</a></li>
              <li><a href="https://www.sqlite.org/" target="_blank" class="am-link-muted">SQLite3</a></li>
              <li><a href="https://gitee.com" target="_blank" class="am-link-muted">Git 码云</a></li>
              <li><a href="https://highlightjs.org/" target="_blank" class="am-link-muted">highlight.js</a></li>
              <!-- <li><a href="http://amazeui.org/" target="blank">Amaze UI</a></li>
              <li><a href="https://www.sqlite.org/" target="blank">SQLite3</a></li> -->
            </div>
        <div class="am-u-md-3">
            <h2 class="site-fd am-text-center"><a href="#" target="_blank" class="am-link-muted">Links</a></h2>
                <ul class="site-social">
                  <li><a href="https://gitee.com" target="_blank" class="am-link-muted">码云</a></li>

                </ul>
        </div>
      <div class="am-u-md-6">
        <h2 class="site-fd am-text-center"><a href="#" target="_blank" class="am-link-muted">Contact me</a></h2>
        <ul class="site-social">
          <li><a href="/about/contact"><span class="am-icon-qq"></span></a></li>
          <li><a href="http://weibo.com/amazeui" title="Amaze UI 微博" target="_blank"><span class="am-icon-weibo"></span></a></li>
          <li><a href="#am-wechat" title="云适配微信" data-am-modal=""><span class="am-icon-wechat"></span></a></li>
          <li><span class="am-icon-paper-plane"></span></li>
        </ul>
      </div>

    </div>
</div>
<footer class="blog-footer am-g">
{% block footer %} 
{% endblock footer %}
</footer>

  <div data-am-widget="gotop" class="am-gotop am-gotop-fixed" >
    <a href="#top" title="回到顶部">
        <span class="am-gotop-title">回到顶部</span>
          <i class="am-gotop-icon am-icon-chevron-up"></i>
    </a>
  </div>
</body>
</html>
