<!DOCTYPE html>
<html>
  {% load staticfiles %}
<head lang="en">
  <meta charset="UTF-8">
  <title>{% block site_title %}blog{% endblock site_title %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!-- amazeui -->
    <link href="{% static 'amazeui/assets/css/amazeui.min.css' %}" rel="stylesheet">
    <!-- <link th:href="/static/amazeui/assets/css/admin.css" rel="stylesheet"> -->
    <!-- 当前站点CSS样式文件 -->
    <link href="{% static 'app.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="/static/amazeui/assets/js/jquery.min.js"></script>
    <!-- amazeui.js app.js -->
    <script src="/static/amazeui/assets/js/amazeui.min.js"></script>
    <script src="/static/app.js"></script>

</head>
<body>
<header class="am-topbar am-g am-g-fixed blog-g-fixed ">
  <h1 class="am-topbar-brand">
    <a href="#">17python</a>
  </h1>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
          data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
      class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="#">Home</a></li>
      <li><a href="#">Python</a></li>
      <li><a href="#">Django</a></li>
      <li><a href="#">About me</a></li>
      <!-- <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          更多 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li class="am-dropdown-header">Title</li>
          <li><a href="#">About me</a></li>
        </ul>
      </li> -->
    </ul>

    <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" placeholder="搜索文章">
      </div>
      <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
    </form>

  </header>
</div>
 <div class="site-topimg am-g am-g-fixed blog-g-fixed">
  <img src="{% static 'images/topbg.jpg' %}" class="am-img-responsive" alt=""/>
</div> 
<div class="am-g am-g-fixed blog-g-fixed">
  <div class="am-u-md-8 blog-main">
    {% block article %} 
    
  {% endblock article %}
  
  </div>

  <div class="am-u-sm-4 blog-sidebar">
    <div class="am-panel-group">


      {% block me %} 

      {% endblock me %}


{% block category %}

{% endblock %}
    </div>
  </div>

</div>


<footer class="blog-footer am-g am-g-fixed blog-g-fixed">
{% block footer %} 
  
    <small>© Designed by J_sky.Copyright 2017 - 2018 17python.com.</small>
  </p>
{% endblock footer %}
</footer>

</body>
</html>
